body {
  background-color: #e2e2e2; /* Dark gray background color */
}

.vertical-center {
  margin: auto; /* Vertically center the title */
}


#sidebar {
  max-width: 300px;
}

#fileContent {
  display: flex;
  flex-direction: column; /* Set the direction to top-to-bottom */
  justify-content: left; 
  align-items: left;    
}

img {
  max-width: 50%;
  height: auto;
}
